<h1>Saisie TSA Diabète</h1>

<%= link_to "Saisie fiche", new_patient_path, class: "btn btn-block btn-primary", data: {"no-turbolink" => true} %>
<%= link_to "Liste fiches", patients_path, class: "btn btn-block btn-info" %>
<%= link_to "Export Excel", patients_path(format: :xls), class: "btn btn-block" %>
